<div class="jumbotron">
    <h1 class="page-header">Тишка</h1>
    <div class="flex">
        <div class="toshka__avatar">
            <img src="/images/avatars/tishka.jpg" width="350px"/>

        </div>
        <div>
            <p>Последнее пополнение в нашу пушистую семью произошло совсем недавно в ноябре 2018 года. Моя мама нашла на
                участке
                котенка, который жалобна мяукал. Она была в ужасном состоянии и мама не смогла пройти мимо нее стороной.
                Сначала
                родители не хотели оставлять котенка у себя, ведь у нас и так уже было 3 котов, но она так полюбилась
                всеми
                всего за пару дней, что родители оставили ее. Так у нас в нашей пушистой семье появилась Тишка. Или как
                папа
                часто ее называет «Гизма» из-за того, что ее шерсть стояла торчком. В отличие от Тоси, которая боялась
                сначала
                подходить к нашим котам, как впервые появилась, Тишка стала ко всем лезть, играться, она никого не
                боялась.
                Наши
                коты совсем не ожидали такой реакции от нее и первоначально бегали от нее и прятались. И только Рыжик
                отнесся к
                ней спокойно и взялся за ее воспитание. Потом подтянулась и Корица. Корица часто выводила Тишку на улицу
                в
                наш
                сад, где они игрались вместе. И только Тося до сих пор не приняла ее окончательно. До сих пор
                сторонится, и
                ревнует ее к моей маме. Я считаю, что Тошка привнесла свою изюминку в нашу семью и дарит до сих пор нам
                новые
                впечатления. Жду момента, когда я смогу приехать домой и увидеться с этой малышкой.</p>
        </div>
    </div>
    <div align="center">
        <video controls>
            <source src="tishka.mp4">
        </video>
    </div>
</div>