<div class="jumbotron">
    <h1 class="page-header">Тошка</h1>
    <div class="flex">
        <div class="toshka__avatar">
            <img src="/images/avatars/toshka.jpg" width="350px"/>
            <span class="alert alert-info" role="alert" style="display: none;">
            Это тошка!
        </span>
        </div>
        <div>
            <p>Первый кот, который появился у нас в семье, был Тоша. Моя сестра нашла его в приюте и на 8 марта 2014
                года
                подарила маме этого маленького котенка. Вопреки общему мнению, что «черный кот приносит несчастье», наш
                Тоша
                приносил нам лишь только радость и спокойствие. Тоша с самого девства был очень интегрированным,
                аккуратным
                котом. Он никогда не хулиганил и был со всеми дружен. Даже с нашим собакой Рексом. Тоша обладал
                уникальной
                чертой – когда кому-то из нас было плохо, он сразу приходил и садился рядом, молча поддерживая.</p>
        </div>
    </div>
</div>