<div class="jumbotron">
    <h1 class="page-header">Тося</h1>
    <div class="flex">
        <div class="toshka__avatar">
            <img src="/images/avatars/tosya.jpg" width="350px"/>
        </div>
        <div>
            <p>Тося, в отличие от других наших котов появилась в нашей пушистой семье совсем иначе. Мы нашли ее на нашем
                участке
                в январе 2017 года. Она была уже взрослой кошкой, когда попала к нам. Мы не смогли пройти мимо ее и
                решили
                помочь. Сначала мы хотели оставить Тосю временно пожить у нас, пока не найдутся ее хозяева. Но время
                шло, а
                хозяева так и не находились. Так Тося и осталась у нас жить. Сначала ей было очень тяжело подружиться с
                Рыжиком
                и Корицей, особенно с Рексом. Они долго не могли ее принять. Но спустя месяц они
                сдались и приняли Тосю в свою пушистую семью. Тося очень спокойная,тихая, хозяйственная кошка. Она любит
                ласку и
                часто проводит много времени с нами на руках. Из-за ее объемной шерсти – мы часто называем ее «Шапкой».
                И
                как
                другие коты, в наших сердцах она заняла особо место.</p>
        </div>
    </div>
</div>
<div class="jumbotron">

    <h2 class="page-header">Настюша</h2>
    <div class="flex">
        <div class="toshka__avatar">
            <img src="/images/avatars/nastysha.jpg" width="350px"/>
        </div>
        <div>
            <p>Настюша – это кошка, которая появилась у меня с сестрой в Минске 14 ферваля 2017 года. Настин парень
                подарил
                ей
                этого замечательного котенка. Когда она появилась у нас, она была совсем крохой, но с ОЧЕНЬ большим
                аппетитом.
                Она совсем отличается от наших кошек, которые живут с нашими родителями. Настюша очень игривая,
                своенравная,
                любила лазить по стенам как «человек паук», будила нас среди ночи, постоянно мяукала рано с утра, кусала
                нас.
                Но, несмотря на это, она была очень милой. Мы ее сильно полюбили. Настюша внесла изюминку в нашу
                квартиру.
                Каждый раз, когда я или сестра возвращались домой, она стояла у дверей, ждала нас и, когда мы открывали
                двери,
                приветствовала своим мурлыканьем. А еще она очень любит воду. Каждый раз, когда мы с утра чистили зубы,
                она
                приходила к нам, залезала на раковину и пила воду из-под крана. Такого бесстрашного котика мы еще не
                встречали.
                На сегодняшний день Настюша живет с моей сестрой Настей в Москве. У нее все хорошо. И даже смогла там
                завести
                себе друга – рыжего кота. Я скучаю по ней, но я знаю, что ей там хорошо и это согревает мне душу.</p>
        </div>
    </div>
</div>