<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container">
        <a class="navbar-brand" href="/">Моя пушистая семья</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {{#user}}
                <ul class="navbar-nav mr-auto">
                </ul>
            {{/user}}
            <ul class="navbar-nav ml-auto">
                {{#user}}
                    <li class="nav-item">
                        <a class="nav-link" href="/users/logout">Выйти</a>
                    </li>
                {{/user}}
                {{^user}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false">Аккаунт</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/users/login">Вход</a>
                            <a class="dropdown-item" href="/users/register">Регистрация</a>
                        </div>
                    </li>
                {{/user}}
            </ul>
        </div>
    </div>
</nav>
{{#user}}
    <script>
        window.addEventListener('load', function () {
            $.get('/resource/cats.json', function (data) {
                $(data).each(function (key, val) {
                    $('#navbarNav > ul.navbar-nav.mr-auto').append(' <li class="nav-item">' +
                            '                        <a class="nav-link" href="' + val.link + '">' + val.name + '</a> </li>')
                });
            })
        });

    </script>

{{/user}}