<!DOCTYPE html>
<html>
<head>
    <title class="a1">Мода</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script data-main="js/config.js" src="js/require.js"></script>

    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                {{#if user}}
                    <li class="a1" role="presentation"><a href="/">Главная</a></li>
                    <li class="a1" role="presentation"><a href="/history">История моды</a></li>
                    <li  class="a1"role="presentation"><a href="/collections">Показы</a></li>
                    <li class="a1" role="presentation"><a href="/users/logout">Выход</a></li>

                {{else}}
                    <li class="a1" role="presentation"><a href="/users/login">ВХОД</a></li>
                    <li  class="a1" role="presentation"><a href="/users/register">РЕГИСТРАЦИЯ</a></li>
                {{/if}}
            </ul>
        </nav>
        <h3 class="a1">Мода</h3>
    </div>


    <div class="row">
        <div class="col-lg-12">
            {{#if success_msg}}
                <div class="alert alert-success">{{success_msg}}</div>
            {{/if}}

            {{#if error_msg}}
                <div class="alert alert-danger">{{error_msg}}</div>
            {{/if}}

            {{#if error}}
                <div class="alert alert-danger">{{error}}</div>
            {{/if}}

            {{{body}}}
        </div>


    </div>

    <footer class="footer">
        <p>&copy; 2016 Мода</p>
    </footer>

</div> <!-- /container -->
</body>
</html>
