<!doctype html>
<html lang="en">
{{> partials/head}}
<body>
{{> partials/navbar}}

<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Добро пожаловть, {{user.name}}!</h1>
            <p class="lead">Крутой сайт о котиках</p>
        </div>
    </div>

    <div id="carouselExampleControls" class="carousel slide mr-auto ml-auto" data-ride="carousel" style="width: 500px;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block" width="500px" src="/images/shared/IMG-1bcc1669f8bd5f55f5740c3d9fbf8b50-V.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block " width="500px" src="/images/shared/IMG-06fb7fbd5c853ef3401733cf7c4f6bb0-V.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block " width="500px" src="/images/shared/IMG-33ee2f4da91433b045fe2aedb92071cf-V.jpg" alt="First slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<!-- Optional JavaScript -->
{{> partials/footer}}
</body>
</html>