<!doctype html>
<html lang="en">
{{> partials/head}}
<body>
{{> partials/navbar}}

<div class="container">

    {{#message}}
        <div class="alert alert-info">{{message}}</div>
    {{/message}}
    {{#success_msg}}
        <div class="alert alert-info">{{success_msg}}</div>
    {{/success_msg}}
    {{#error_msg}}
        <div class="alert alert-warning">{{error_msg}}</div>
    {{/error_msg}}


    <h2 class="page-header">Авторизация</h2>
    <form method="post" action="/users/login">
        <div class="form-group">
            <label class="a1">Логин</label>
            <input type="text" class="form-control" name="username" placeholder="Логин">
        </div>
        <div class="form-group">
            <label class="a1">Пароль</label>
            <input type="password" class="form-control" name="password" placeholder="Пароль">
        </div>
        <button type="submit" class="btn btn-default">Войти</button>
        <a href="/users/register" class="ml-5" tabindex="-1" role="button" aria-disabled="true">Регистрация</a>
    </form>
</div>

<!-- Optional JavaScript -->
{{> partials/footer}}
</body>
</html>