<!doctype html>
<html lang="en">
{{> partials/head}}
<body>
{{> partials/navbar}}

<div class="container">
    <h2 class="page-header">Регистрация</h2>

    {{#errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/errors}}

    <form method="post" action="/users/register">
        <div class="form-group">
            <label>Имя</label>
            <input type="text" class="form-control" placeholder="Имя" name="name"  value="{{profile.name}}" />
        </div>
        <div class="form-group">
            <label>Логин</label>
            <input type="text" class="form-control" placeholder="Логин" name="username"   value="{{profile.username}}" >
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Email" name="email"  value="{{profile.email}}" >
        </div>
        <div class="form-group">
            <label>Пароль</label>
            <input type="password" class="form-control" placeholder="Пароль" name="password"  value="{{profile.password}}" >
        </div>
        <div class="form-group">
            <label>Проверка пароля</label>
            <input type="password" class="form-control" placeholder="Проверка пароля" name="password2"  value="{{profile.password2}}" >
        </div>
        <button type="submit" class="btn btn-default">Зарегистрироваться</button>
        <a href="/users/login" class="ml-5" tabindex="-1" role="button" aria-disabled="true">Войти</a>
    </form>

</div>

<!-- Optional JavaScript -->
{{> partials/footer}}
</body>
</html>