body{
    background: url("/images/cats_bg.jpg");
}

.flex{
    display: flex;
}

#load > div > div > div:nth-child(2){
    margin-left: 25px;
}

#load .galery img{
    margin-top: 5px;

}

/**
Animation in footer
 */
#animated_cat {
    animation: 7s linear 0s slide infinite;
    margin-left: 99%;
}

@keyframes slide {
    0% {
        margin-left: 0%;
    }
    50% {
        margin-left: 99%;
    }
    100% {
        margin-left: 0%;
    }
}