<!doctype html>
<html lang="en">
{{> partials/head}}
<body>
{{> partials/navbar}}

<div class="container">

    {{#message}}
        <div class="alert alert-info">{{message}}</div>
    {{/message}}
    {{#success_msg}}
        <div class="alert alert-info">{{success_msg}}</div>
    {{/success_msg}}

    <div id="load">

    </div>

</div>

<!-- Optional JavaScript -->
{{> partials/footer}}
<script>
    // $("#load-info").click(function(){
        $.get("/resource/corica.html", function(data, status){
            $('#load').html(data);
            // $('#load-info').hide();
        });
    // });
</script>
</body>
</html>