<!doctype html>
<html lang="en">
{{> partials/head}}
<body>
{{> partials/navbar}}

<style>
    .toshka__avatar {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
</style>

<div class="container">

    {{#message}}
        <div class="alert alert-info">{{message}}</div>
    {{/message}}
    {{#success_msg}}
        <div class="alert alert-info">{{success_msg}}</div>
    {{/success_msg}}

    <div id="load">

    </div>

</div>

<!-- Optional JavaScript -->
{{> partials/footer}}
<!--<script data-main="js/app" src="/js/lib/require.js"></script>-->
<script>
    window.onload = function() {
        $('#load').load('/resource/toshka.html', function (data) {
            $('.toshka__avatar img').mouseenter(function (e) {
                $('.toshka__avatar .alert').show();
            });
            $('.toshka__avatar img').mouseleave(function (e) {
                $('.toshka__avatar .alert').hide();
            });
        })
    }
</script>
</body>
</html>